@charset "UTF-8";

    /* 사이드바 스타일! */
    .EPay-index_section {
		margin-left: 20px;
		float: left;
    	width: 200px;
    	height: 850px;
	}
	
    .memDA {
		margin-left: 40px;
		margin-top: 10px;
	}
	
	li {
   		list-style:none;
   	}
   	
   	#title {
   		margin-bottom: 30px;
   	}
   	
   	.btn_area {
   	    text-align: center;
   	}
    
    /* 폰트 */
    @font-face {
            font-family: 'InfinitySans-RegularA1';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

    h1 { 
        font-family: 'InfinitySans-RegularA1'; 
        font-size: 45px;  
        letter-spacing: -2px; 
        height: 35px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    section {
    	display: flex;
		justify-content: center;
		margin-top: 30px;
    }

    #container {
            /* border: 2px solid red; */
            width: 650px;
            height: 800px;
        }

    .updateInfo {
        font-size: 17px; 
        font-family: 'InfinitySans-RegularA1'; 
        height: 50px;
        color: gray;
    }

    .EPay-index_section {
		margin-left: 20px;
	}
    
    input[class=Input]{
            font-family: 'InfinitySans-RegularA1';
            border: 1px solid rgb(61, 83, 143);
            width: 400px;
            border-radius: 3px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            box-sizing: border-box;
            transition: .3s;
        }

    input[class=Input_2]{
        font-family: 'InfinitySans-RegularA1';
            border: 1px solid rgb(61, 83, 143);
            width: 310px;
            border-radius: 3px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            box-sizing: border-box;
            transition: .3s;
        }

    input[type=text]:focus {
            border-color: rgb(61, 83, 143);
            box-shadow: 0 0 8px 0 rgb(61, 83, 143);
        }

        #goUpdateBtn {
		font-family: 'InfinitySans-RegularA1';
		font-size: 18px;
		margin: 35px 0 0 15px;
		border: 1px solid rgb(61, 83, 143);
		border-radius: 3px;
		background-color: rgb(61, 83, 143);
		color: #fff;
		width: 150px;
		height: 48px;
        cursor: pointer;
	}
	#goUpdateBtn:hover { 
		border: 1px solid #5b18ff;
	    background: linear-gradient(to right, rgb(61, 83, 143), #8b5dff);
	    color: white; 
    }
    
    #notupdateBtn {
    	font-family: 'InfinitySans-RegularA1';
		font-size: 18px;
		margin-top: 35px;
		border: 1px solid rgb(61, 83, 143);
		border-radius: 3px;
		background-color: #fff;
		color: rgb(61, 83, 143);
		width: 120px;
		height: 48px;
        cursor: pointer;
    }
    #notupdateBtn:hover { 
		border: 1px solid rgb(61, 83, 143);
	    background: linear-gradient(to right, #fff, #e1daf6);
	    color: rgb(61, 83, 143); 
    }    

    #id_chkBtn {
        font-family: 'InfinitySans-RegularA1';
		font-size: 15px;
		border: 1px solid rgb(61, 83, 143);
		border-radius: 3px;
		background-color: rgb(61, 83, 143);
		color: #fff;
        cursor: pointer;
        padding: 6.2px;
        width: 86px;
    }

    #searchAdd {
        font-family: 'InfinitySans-RegularA1';
		font-size: 15px;
		border: 1px solid rgb(61, 83, 143);
		border-radius: 3px;
		background-color: rgb(61, 83, 143);
		color: #fff;
        cursor: pointer;
        padding: 6.2px;
        width: 86px;
    }

    
    /* 프로필 사진 */
    .UserModifyImg {
    display: inline-flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    }

